<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings"
       type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WPFGuessWhoClient.Properties.Settings"
      type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      allowExeDefinition="MachineToLocalUser"
      requirePermission="false" />
		</sectionGroup>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcp_Windows_Client" maxReceivedMessageSize="65536" />
    <binding name="NetTcpBinding_ILoginService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IChatService">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>

		<client>
   <endpoint address="net.tcp://localhost:8095/UserService" binding="netTcpBinding"
    bindingConfiguration="NetTcp_Windows_Client" contract="UserServiceRef.IUserService"
    name="NetTcp_UserService" />
   <endpoint address="net.tcp://localhost:8097/LoginService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_ILoginService" contract="LoginServiceRef.ILoginService"
    name="NetTcpBinding_ILoginService">
    <identity>
     <userPrincipalName value="LAPTOP-9IURR4LD\wilma" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8098/ChatService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IChatService" contract="ChatServiceRef.IChatService"
    name="NetTcpBinding_IChatService" />
  </client>
	</system.serviceModel>

	<userSettings>
		<WPFGuessWhoClient.Properties.Settings>
			<setting name="Culture" serializeAs="String">
				<value>en-US</value>
			</setting>
		</WPFGuessWhoClient.Properties.Settings>
	</userSettings>
</configuration>
