<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings"
		   type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WPFGuessWhoClient.Properties.Settings"
			  type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			  allowExeDefinition="MachineToLocalUser"
			  requirePermission="false" />
		</sectionGroup>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcp_Windows_Client" maxReceivedMessageSize="65536">
					<security mode="Transport">
						<transport clientCredentialType="Windows" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>

		<client>
			<endpoint address="net.tcp://localhost:8095/UserService"
					  binding="netTcpBinding"
					  bindingConfiguration="NetTcp_Windows_Client"
					  contract="UserServiceRef.IUserService"
					  name="NetTcp_UserService" />

			<endpoint address="net.tcp://localhost:8097/LoginService"
					  binding="netTcpBinding"
					  bindingConfiguration="NetTcp_Windows_Client"
					  contract="LoginServiceRef.ILoginService"
					  name="NetTcp_LoginService" />
		</client>
	</system.serviceModel>

	<userSettings>
		<WPFGuessWhoClient.Properties.Settings>
			<setting name="Culture" serializeAs="String">
				<value>en-US</value>
			</setting>
		</WPFGuessWhoClient.Properties.Settings>
	</userSettings>
</configuration>
