<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings"
       type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			
			<section name="WPFGuessWhoClient.Properties.Settings"
      type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      allowExeDefinition="MachineToLocalUser"
      requirePermission="false" />
		</sectionGroup>

		<section name="log4net"
     type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<log4net>
		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<file value="Logs\\client.log"/>
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maximumFileSize value="5MB" />
			<maxSizeRollBackups value="5" />
			<staticLogFileName value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level [%thread] %logger{1}.%method - %message%newline%exception" />
			</layout>
		</appender>

		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger{1}.%method - %message%newline%exception" />
			</layout>
		</appender>

		<root>
			<level value="Info" />
			<appender-ref ref="RollingFile" />
			<appender-ref ref="ConsoleAppender" />
		</root>
	</log4net>
	
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcp_Windows_Client" maxReceivedMessageSize="65536" />
    <binding name="NetTcpBinding_ILoginService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IChatService">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IFriendService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IMatchService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IUpdateProfileService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IUserService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IUserService1">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		
		<client>
   <endpoint address="net.tcp://localhost:8098/ChatService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IChatService" contract="ChatServiceRef.IChatService"
    name="NetTcpBinding_IChatService" />
   <endpoint address="net.tcp://localhost:8097/LoginService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_ILoginService" contract="LoginServiceRef.ILoginService"
    name="NetTcpBinding_ILoginService">
    <identity>
     <userPrincipalName value="LAPTOP-MG984O4N\CLAUDIO" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8099/FriendService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IFriendService" contract="FriendServiceRef.IFriendService"
    name="NetTcpBinding_IFriendService">
    <identity>
     <userPrincipalName value="LAPTOP-MG984O4N\CLAUDIO" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8100/MatchService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IMatchService" contract="MatchServiceRef.IMatchService"
    name="NetTcpBinding_IMatchService">
    <identity>
     <userPrincipalName value="LAPTOP-MG984O4N\CLAUDIO" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8101/UpdateProfileService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUpdateProfileService"
    contract="UpdateServiceRef.IUpdateProfileService" name="NetTcpBinding_IUpdateProfileService">
    <identity>
     <userPrincipalName value="LAPTOP-MG984O4N\CLAUDIO" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8095/UserService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IUserService" contract="UserServiceRef.IUserService"
    name="NetTcpBinding_IUserService">
    <identity>
     <userPrincipalName value="LAPTOP-MG984O4N\CLAUDIO" />
    </identity>
   </endpoint>
  </client>
	</system.serviceModel>
	
	<userSettings>
		<WPFGuessWhoClient.Properties.Settings>
			<setting name="Culture" serializeAs="String">
				<value>en-US</value>
			</setting>
		</WPFGuessWhoClient.Properties.Settings>
	</userSettings>
</configuration>
